.navbar a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.navbar a i {
  margin-left: 5px;
  margin-top: 0.8rem;
  margin-right: 8px;
  color: #ffffff;
}

.navbar a i:hover {
  color: orange;
}

.navbar a p {
  color: #fff;
  margin-top: 0.6rem;
}

.notification-icon {
  display: flex;
  width: 100%;
  justify-content: end;
  height: 40px;
  padding: 20px 40px;
  font-size: 20px;
  color: #102c44;
  cursor: pointer;
}

.profile-drop {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
}
.profiledropdownMenu {
  position: absolute;
  display: none;
  background: #3f474f;
  width: 30%;
  height: 220px;
  padding-top: 14px;
}

.profiledropdownMenu li {
  width: 100%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profiledropdownMenu li:hover{
    background-color: #212529;
  }
.profiledropdownMenu li a {
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}
.profiledropdownMenu li a:hover {
  color: orange;
}

.semester {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-sem-sec {
  min-height: 500px;
  width: 800px;
  color: rgb(255, 255, 255);
  background-color: #fff;
  border-radius: 5px;
  flex: 0 auto;
  justify-content: space-around;
  align-self: auto;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 50px;
  display: flex;
  position: static;
  overflow: visible;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: start;
  top: -5em;
}

.dropdown-section {
  position: relative;
  display: flex;
  justify-content: start;
  top: -5em;
}

.dropdown-btn {
  background-color: #3f474f;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  width: 350px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.dropdown-btn-section {
  background-color: #3f474f;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  width: 250px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3f474f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 350px;
  top: 2.6em;
  border-radius: 5px;
  list-style: none;
  padding-left: 0em;
}

.dropdown-content-section {
  display: none;
  position: absolute;
  background-color: #3f474f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 250px;
  top: 2.6em;
  border-radius: 5px;
  padding-left: 0em;
}

.dropdown-content li {
  color: #ffffff;
  padding: 12px 25px;
  list-style-type: none;
  list-style: none;
  cursor: pointer;
  width: 100%;
}

.dropdown-content-section li {
  color: #ffffff;
  padding: 12px 25px;
  list-style-type: none;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
  color: #102c44;
}

.dropdown-content-section li:hover {
  background-color: #f1f1f1;
  color: #102c44;
}

.caret {
  margin-left: 4px;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  right: 1.8em;
  top: 1.2em;
}

@media (max-width: 992px) {
  .select-sem-sec {
    flex-direction: column;
  }
  .navbar .profile-icon-width {
    display: none;
  }

  .profiledropdownMenu {
    width: 100%;
    z-index: 1;
  }
}
